
build
.dart_tool/
jvbuild-cache/
jvbuild-out/btrmintvol
pubspec.lock
pubspec.yaml

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.vscode

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
